/target/
/src/main/webapp/font/glyphicons*
/src/main/webapp/js/ie10-viewport-bug-workaround.js
/src/main/webapp/css/bootstrap.min.css
/src/main/webapp/css/ie10-viewport-bug-workaround.css
/.settings/
/.classpath
/.project
